@charset "utf-8";

@import url('//fonts.googleapis.com/css?family=Inconsolata');

a {
    text-decoration: none;
    color: inherit;
    background-image: linear-gradient(#000,#000);
    background-position: 0 0.95em;
    background-repeat: repeat-x;
    background-size: 1px 1px;
}

a:visited {
    color: inherit;
}

a:hover {
    text-decoration: none;
    background-image: linear-gradient(#268714,#268714);
    background-size: 2px 2px;
}

p {
    margin: 1em 0;
    font-family: monospace;
    font-size: 18px;
}

.header-info {
  display: block;
  position: relative;
  margin: 10px;
}

.header-info-name {
  font-size: 2em;
  font-weight: bold;
}

.header-info-desc {
  font-size: 0.9em;
}

.header-main-nav {
  margin: 0;
  list-style: none;
}

.header-main-nav-item {
  display: block;
  position: relative;
  float: left;
  line-height: 24px;
  margin: 0 10px;
}
