@charset "utf-8";

.title {
  font-size: 1em;
}

.post-content {
  line-height: 1.8;
}

.post-title {
  text-align: center;
}

.post-content p {
  line-height: 1.8;
}

.post-content img {
  display: block;
  margin: 10px auto;
}

.post-info {
  line-height: 1.5;
  margin: 10px 0;
}

.post-category,
.post-tag {
  margin: 0 5px;
}

.pet-item {
  display: inline-block;
}